{% extends "base.html" %}

{% block title %}
DesignFirst - Purchase Design Credits 
{% endblock %}

{% block content %}

	<div class="grid_8 ">
		<div id="order_confirm" class="box">
			<h2>Product List</h2>
		    <div id="orderform">		        
				<table>

					<thead>
						<tr>
						  <th>Name</th>
						  <th>Description</th>
						  <th>Account Credits</th>
						  <th>Price</th><th>Action</th>
				        </tr>
					</thead>

					<tbody>
    					{% for product,price in pricelist %}
    					<form method="GET" action="{% url product-purchase product.id %}">					
    						<tr>
    							<td>{{ product.name }}</td>
    							<td>{{ product.verbose_name }}</td>
    							<td>{{ product.credit_value }}</td>
    							<td>{{ price }}</td>
    							<td><input type="submit" name="amount" value="Buy"></td>
    						</tr>
    			        </form>
    					{% endfor %}
					</tbody>
				</table>
			</div>
	    </div>
	</div>	

	<div class="grid_8 omega">
		<div id="credit_card" class="box ">
			<h2>Credit Card Info </h2>
			<table>
				<tbody>
		            {% if errors %}<tr><td colspan="2" align="center">{{ errors }}</td></tr>{% endif %}
		            <tr><td colspan="2" align="center"><a href="?express">Pay by PayPal</a></td></tr>
		            {{ form.as_table }}
		            <tr><td colspan="2" align="right"><input type="submit" /></td></tr>
				</tbody>
			</table>
		</div>
    </div>
{% endblock %}
