{% extends "base.html" %}

{% block title %}Review Payment Information{% endblock %}

{% block content %}

<div class="grid_11 suffix_1">
	<div id="payment_info" class="box ">
		<h2>Credit Card </h2>
		<form method=POST>
		<table>
			<tbody>
	            {% if errors %}<tr><td colspan="2" align="center">{{ errors }}</td></tr>{% endif %}
	            {{ form.as_table }}
	            <tr><td colspan="2" align="right"><input type="submit" value="Complete Order"/></td></tr>
			</tbody>
		</table>
		</form>
	</div>
</div>

<div class="grid_4 omega">
	<div id="order_summary" class="box ">
		<h2>Order Summary</h2>
	    <div>
	        {% for item in cart_items %}
	         <p><span class="column">{{ item.quantity }} X {{ item.product.name }}</span>{{ item.extended_price }}</p>
	        {% endfor %}
	         <p><span class="column">Total</span>{{ cart_total }}</p>	        
        </div>
    </div>
</div>

{% endblock %}