{% extends "base.html" %}

{% block title %}
DesignFirst - Purchase Design Credits 
{% endblock %}

{% block content %}

	<div class="grid_14 prefix_1 ">
		<div id="order_confirm" class="box">
			<h2>Purchase List</h2>
		    <div id="orderform">		        
				<table>

					<thead>
						<tr>
						  <th>Name</th>
						  <th>Unit Price</th>
						  <th>Count</th>
						  <th>Cost</th>
				        </tr>
					</thead>

					<tbody>
    					{% for item in cart %}
						<tr>
							<td>{{ item.name }}</td>
							<td>{{ item.unit_cost }}</td>
							<td>{{ item.count }}</td>
							<td>{{ item.extended_cost}}</td>
						</tr>
    					{% endfor %}
					</tbody>
				</table>
			</div>
	    </div>
	</div>	
	
    <div class="grid_14 prefix_1">
        <form method="POST">
            <input name="credit" type="submit" value="Pay by Credit Card">
            <a href="?express">Pay by PayPal</a>
        </form>
    </div>
{% endblock %}
