[submodule "modules/django"]
	path = modules/django
	url = git://github.com/django/django.git
[submodule "modules/django-notification"]
	path = modules/django-notification
	url = git://github.com/jtauber/django-notification.git
