{% extends "base.html" %}

{% block title %} Account Activation Result {% endblock %}

{% block content %}
	<div class="grid_6 prefix_5 suffix_5">
		{% if account %}
		<h1>Activation Complete</h1>
		<div class=box>
			<h2> Account Summary</h2>
			<div>
				{{ account }}
			</div>
		</div>
		{% else %}
		<div class=box>
			<h2> Account Registration Failed</h2>
			<div>
			    <p>&nbsp;</p>
				<p>For security reasons activation codes are only valid for a limited amount of time. </p>
				<p>The most common reason for activation failure is an expired activation code. </p>
				<p>You can <a href='mailto:support@designserviceusa.com'>contact support</a> to have a new activation code reissued for your account.</p>
			    <p>&nbsp;</p>
			</div>
		</div>
		
		{% endif %}
	</div> <!-- block -->

{% endblock %}
