{% extends "base.html" %}
{% load i18n %}

{% block title %} Design First Login {% endblock %}

{% block content %}
<div id="logo_block" class="grid_7 suffix_2 prefix_1">
<p></p>
  <h1>{% trans "Welcome to Design Service USA" %}</h1>
<p></p>
  <h4>{% trans "Your source for professional 20/20 designs in 48 hours or less." %}</h4> 
<p></p>
  <h5><em>{% trans "Sign in and get started now!" %} </em></h5>
</div>
<div id="login_panel" class="grid_5 suffix_1">
         <div class="block" id="login-forms">
            <form action="/login/" method="post">
              <fieldset class="login">
                <legend>Login</legend>
		{% if login_message %}
                <p class="error"> {{ login_message }} </p>
		{% else %}
                <p class="notice">Login to place an order or review
                order status.</p>
		{% endif %}
                <p>
                  <label>Username: </label>

                  <input type="text" name="username" />
                </p>
                <p>
                  <label>Password: </label>
                  <input type="password" name="password" />
                </p>
                 <input type="hidden" name="next" value="{{next}}"˝ />
                <input class="login button" type="submit" value="Login" />
                <br />
		        {% trans "You can also " %}
                <a href="{% url registration_register %}">{% trans "Register" %}</a>
                {% trans "or" %}
		        <a href="{% url auth_password_reset %}">{% trans "Recover password" %}</a>
              </fieldset>

            </form>


	  </div> <!-- block -->
	  </div> <!-- box -->

{% endblock %}
