{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Password reset confirm" %} {% endblock %}

{% block content %}
	<div class="grid_6 prefix_5 suffix_5">
		<div class=box>
			<h2>  {% trans "New password" %} </h2>
			<div>
                {% if validlink %}
                <form method='POST' action='.'>
					<table>
						{{ form }}
					</table>
					<input name='submit' type='submit' value='{% trans "Done" %}'>
				</form>
                {% else %}
                    <p>{% trans "This password reset link is not valid." %}
                {% endif %}
			</div>
		</div>
	</div> <!-- block -->

{% endblock %}
