{% load wufu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title>DSUSA Dealer Design Service Registration</title>
        <!-- Meta Tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- CSS -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}wufu/css/structure.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}wufu/css/form.css" type="text/css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}wufu/css/theme.css" type="text/css" />

        <!-- JavaScript -->
        <script type="text/javascript" src="{{ MEDIA_URL }}wufu/scripts/wufoo.js"></script>
    </head>

    <body id="public">
        <div id="container">
            <form id="form1" name="form1" class="wufoo topLabel page1" autocomplete="off"
	              enctype="multipart/form-data" method="post" action=".">

				{% csrf_token %}
                <div class="info">
	                <h2>DSUSA Dealer Design Service Registration</h2>
	                <div>Dealers can use this form to begin the dealer registration process for DSUSA's Dealer Design Services. Once your contact information has been verified a sales rep will contact you to complete the process. <br />
                        <br />
                        DSUSA's Dealer Design Service is a subscription service. </div>
                </div>

                <ul>
                    {% if form.errors %}
                    <li id="errorLi">
                        <h3 id="errorMsgLbl">There was a problem with your submission.</h3>
                        <p id="errorMsg">
                            Errors have been <strong>highlighted</strong> below.
                        </p>
                    </li>
                    {% endif %}
                    <li class="section ">
                        <h3 id="title25">Primary Contact Information</h3>
                        <div id="instruct25">Enter the personal information for the primary contact for your organization.</div>
                    </li>
                    <li class="{% if form|errors_in:"first_name,last_name" %}error{% endif %} ">
                        <label class="desc" id="title19" for="Field19">
                            Name<br />
                            <span id="req_19" class="req">*</span>
                        </label>
                        {% wufu_span form.first_name %}
                        {% wufu_span form.last_name %}
                        <p class="instruct" id="instruct19"><small>The name of the primary contact for your account.</small></p>
                    </li>
                    {% wufu_li form.email "" "<small>A valid email address.<br /><br />We will use this email to verify your registration.</small>" %}
                    <li id="foli23" class="section ">
                        <h3 id="title23">Business Information<br />
                        </h3>
                        <div id="instruct23">Enter primary accont information.</div>
                    </li>

                    {% wufu_li form.legal_name "" "<small>Your organizations legal business name. </small>" %}
                    <li id="foli12" class="complex address-block {% if form|errors_in:"address_1,address_2,city,state,zip4,phone,fax" %}error{% endif %}">
                        <label class="desc" id="title12" for="Field12">
                            Primary Address
                            <span id="req_12" class="req">*</span>
                        </label>
                        <div>
                            {% wufu_span form.address_1 "full" %}
                            {% wufu_span form.address_2 "full" %}
                            {% wufu_span form.city "left" %}
                            {% wufu_span form.state "right" %}
                            {% wufu_span form.zip4 "full" %}

                            {% wufu_span form.phone "left" %}
                            {% wufu_span form.fax "right" %}
                        </div>
                    </li>
					
                    <li id="foli26" class="section ">
                        <h3 id="title26">Account Information</h3>
                    </li>

                    {% wufu_li form.account_rep_name "" "<small>Your account rep can help you get started, and provide detailed information about the service.</small>" %}
                    {% wufu_li form.num_locations "" "<small>If you have more than one location, please indicate how many.</small>" %}

                    <li id="foli30" class="section ">
                        <h3 id="title30">Expected Service Usage</h3>
                        <div id="instruct30">Please enter your anticipated usage of the design service. We are careful to ensure that we have the resources to support our customers completely. This information helps us to ensure that as we grow we maintain the highest possible levels of reliability and customer responsiveness.</div>
                    </li>


                    <li id="foli40" class=" ">
                        <label class="desc" id="title40" for="Field40">
                            Are you ready to get started now? 
                        </label>
                        {% wufu_span form.rush %}
                        <p class="instruct" id="instruct40"><small>Check this box if you have designs to submit within the next week and would like accelerated processing on your registration.</small></p>
                    </li>

                    <li id="foli142" class=" ">
                        <label class="desc" id="title142" for="Field142">
                            What type of design products are you most interested in?
                        </label>
                        <div class="col">
                            {{ form.product_type }}
                            {{ form.product_type.errors }}
                        </div>
                    </li>


                    <li id="foli145" class=" ">
                        <label class="desc" id="title145" for="Field145">
                            How many revisions do you typically produce for a customer?
                        </label>
                        <div class="col">
                            {{ form.revisions }}
                            {{ form.revisions.errors }}
                        </div>
                        <p class="instruct" id="instruct145"><small>Many things can affect how many designs a dealer creates for a prospect or customer. Understanding this helps you to plan costs with </small></p>
                    </li>
                    <li id="foli39" class=" ">
                        <label class="desc" id="title39" for="Field39">
                            If the service met your needs, how many designs per month would you anticipate purchasing?
                        </label>
                        <div>
                            {{ form.expected_orders }}
                            {{ form.expected_orders.errors }}

                        </div>
                        <p class="instruct" id="instruct39"><small>You can base your estimate on the number of designs you currently produce, or on the number that you would produce if the process was quicker and less costly. </small></p>
                    </li>

                    <li id="foli152" class="section ">
                        <h3 id="title152">Terms and Conditions</h3>
                        <div id="instruct152">Acceptance of the <a target="_blank" href="http://docs.google.com/View?id=dd9hkswj_0ckcz43hp">DSUSA Terms and Conditions</a> is required for membership. Please be sure to read this document carefully prior to submitting this form. Submission of the form will be construed as acceptance of the terms.</div>
                    </li>


                    <li id="foli153" class="{% if form.tos.errors %}error{% endif %} ">
                        <label class="desc" id="title153" for="Field153">
                            Acceptance statement
                            <span id="req_153" class="req">*</span>
                        </label>
                        <div class="col">
                            <span>
                                <input id="Field153" name="tos" type="checkbox" class="field checkbox" value="I agree to the &lt;a target=&quot;_blank&quot; href=&quot;http://docs.google.com/View?id=dd9hkswj_0ckcz43hp&quot;&gt;DSUSA Terms and Conditions&lt;/a&gt;."/>
                                <label class="choice" for="Field153">I agree to the <a target="_blank" href="http://docs.google.com/View?id=dd9hkswj_0ckcz43hp">DSUSA Terms and Conditions</a>.</label>
                            </span>
                            {% for error in form.tos.errors %}<p class="error">{{ error }}</p>{% endfor %}
                        </div>
                    </li>


                    
                    
                    <li class="buttons">
                        <input type="hidden" name="currentPage" id="currentPage" value="5Zy6wm9XSkTVTICMoLPdewuBez2KIN2ITdc56dlcqGOw50=">
                            <input id="saveForm" class="btTxt submit" type="submit" value="Submit" />
                            
                            

                        </li>
                    <li style="display:none">
                        <label for="comment">Do Not Fill This Out</label>
                        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                        <input type="hidden" id="idstamp" name="idstamp" value="" />
                    </li>
                    </ul>
                </form>

            </div><!--container-->
            <img id="bottom" src="images/bottom.png" alt="" />
        </body>
    </html>
