<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<div id="wrapper">
<h1>Welcome to Design Service USA!</h1>
<p>Your registration has been approved. This document contains your account information and some resources to help you get started.</p>
<h2>Account Information</h2>
<table width="60%" border="0" cellspacing="2" cellpadding="2">
  <caption>
    Your Account Information
    </caption>
  <tr>
    <td>Account Number</td>
    <td>{{ account.id }}</td>
  </tr>
  <tr>
    <td>Account Name</td>
    <td>{{ account.name }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Primary Contact</td>
    <td> {{ account.contact.name }}</td>
  </tr>
  <tr>
    <td>Contact Email</td>
    <td>{{ account.contact.email }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Primary Business Address</td>
    <td>{{ account.primary_address }}</td>
  </tr>
  <tr>
    <td>Business Phone</td>
    <td>{{ account.phone }}</td>
  </tr>
  <tr>
    <td>Business Fax</td>
    <td>{{ account.fax }}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Account Rep</td>
    <td>{{ account.rep.name }}</td>
  </tr>
  <tr>
    <td>Account Rep Phone</td>
    <td>{{ account.rep.phone }}</td>
  </tr>
</table>
<p>&nbsp;</p>
<h2>Getting Started</h2>
<p>Review Your Account Info</p>
<p>Design Service Pricing</p>
<p>Placing Design Orders</p>
<p>Contact Info</p>
<p>There are a number of ways to contact us if you have a problem or question. Your first point of contact should be your account rep, however if you have a specific issue we can be contacted by phone or email. </p>
<ul>
<li>Customer Service & Technical Support</li>
<ul>
<li>email: support@designserviceusa.com</li>
<li>phone: (856) 556-0676</li>
<li>order processing fax: (609) 228-8281</li></ul>
<li>Customer Forum</li>
<ul>
<li>http://designserviceusa.getsatisfaction.com</li></ul>
<li>Feedback</li>
<ul><li>email: feedback@designserviceusa.com</li></ul>

    Customer service is available during normal business hours - from 9am to 7pm EST M-F.
</div>
</body>
</html>
