{% extends "designer/base.html" %}
{% load i18n %}

{% block title %}
{% trans "DesignFirst Designer Portal - Upload Design Attachments" %}
{% endblock %}

{% block content %}


<!-- center column -->
<div id="center" class="prefix_3 grid_8 suffix_3">

	<div class="box">		
		<h2>{% trans "Completed Order Info" %}</h2>
		<div>
			<h5>&nbsp;</h5>
			<form action="{% url complete_order_page order.id %}" method="POST">			
				<h5>Order Info</h5>
				<table>
					<tbody>
						<tr><th>Request ID</th><td>{{ order.id }}</td></tr>
						<tr><th>Tracking Code</th><td>{{ order.tracking_code }}</td></tr>
						<tr><th>Project Name</th><td>{{ order.description }}</td></tr>
					</tbody>
				</table>
				<h5>Design Notes</h5>
				<table>
					<tr>
						<th><th>
						<td>
							<textarea name="notes" cols=60 rows=4>{{ package.notes }}</textarea>
						</td>
				</table>
				<h5>Files</h5>			
				<table border="0" cellspacing="5" cellpadding="5">
					<tbody>
					<tr><th>20/20 KIT File</th><td>{{ package.kitfile }}</td></tr>
					<tr><th>Cabinet Price Report</th><td>{{ package.price_report }}</td></tr>
					<tr><th>PDF Views ZIP</th><td>{{ package.views_archive }}</td></tr>
					</tbody>
				</table>
				<input type="submit" name="complete-order-action" value="{% trans 'Send Completed Design' %}">
			</form>
		</div>
		{% if errors %}
			<div class="errors">
				{{ errors }}
			</div>
		{% endif %}
	</div>	
	
	<div class="box">
		<h2>{% trans "Upload Design Attachments" %}</h2>
		<div>
			<form action="{% url complete_order_page order.id %}" method="POST" enctype="multipart/form-data">
				<table>
					{{ form }}
				</table>
				<input type="submit" name="upload-file-action" value="{% trans 'Upload Files' %}">
			</form>
		</div>
	</div>

{% endblock %}
