{% extends "designer/base.html" %}
{% load i18n %}

{% block title %}
{% trans "DesignFirst Designer Home" %}
{% endblock %}

{% block content %}


<!-- left column -->
<div id="orders" class="grid_10  ">

  	<!-- pending (unassigned) orders - click to assign -->
	<div id="pending_order_table">
	   <table summary="{% trans 'order history and status' %}">
	   <thead>
	     <tr><th class="table-head" colspan="6">New Orders</th></tr>
	     <tr>
	       <th>{% trans "order id" %}</th>
	       <th>{% trans "submission date" %}</th>
	       <th>{% trans "status" %}</th>
	       <th>{% trans "description" %}</th>
	       <th>{% trans "actions" %}</th>
	       <th></th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for order in pending %}
	     <tr class="{% cycle 'even' 'odd' %}">
	       <td> {{ order.id }}</a> </td> 
		   <td> {{ order.submitted|date }} </td>
		   <td> {{ order.get_status_display }} </td> 
		   <td> {{ order.description }} </td> 
		   <td> 
				{% if user.is_staff %}
				<form action="{% url ordermgr.views.assign_order order.id %}" method="GET">
		   			<input type="submit" value="{% trans 'Assign Order &rarr;' %}">
				</form>
				<form action="{% url ordermgr.views.display_order order.id %}" method="GET">
		   			<input type="submit" value="{% trans 'View Order &rarr;' %}">
				</form>
				{% else %}
				<form action="{% url ordermgr.views.claim_order order.id %}" method="POST">
		   			<input type="submit" value='{% trans "Claim Order &rarr;" %}'></form>
				{% endif %}
			</td>
	     </tr>
	     {% endfor %}
	   </tbody>
	  </table>
	</div>


  	<!-- in-progress (working) orders - click to view status -->
	<div id="assigned_order_table">
	   <table summary="{% trans 'order history and status' %}">
	   <thead>
	     <tr><th class="table-head" colspan="5">{% trans "Assigned Orders" %}</th></tr>
	     <tr>
	       <th>{% trans "order id" %}</th>
	       <th>{% trans "assigned designer" %}</th>
	       <th>{% trans "submitted on" %}</th>
	       <th>{% trans "assigned on" %}</th>
	       <th>{% trans "actions" %}</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for order in working %}
	     <tr class="{% cycle 'even' 'odd' %}">
	       <td> <a href="{% url ordermgr.views.display_order order.id %}">{{ order.id }}</a> </td> 
		   <td> {{ order.designer }} </td> 
		   <td> {{ order.submitted|date }} </td>
		   <td> {{ order.assigned|date }} ({{ order.assigned|timesince }}) </td> 
		   <td>				
				<form action="{% url ordermgr.views.display_order order.id %}" method="GET">
		   			<input type="submit" value="{% trans 'View Order &rarr;' %}">
				</form>
			</td>
	     </tr>
	     {% endfor %}
	   </tbody>
	  </table>
	</div>


  	<!-- completed (delivered) orders - click to view statistics -->
	<div id="completed_order_table">
	   <table summary="{% trans 'order history' %}">
	   <thead>
	     <tr><th class="table-head" colspan="6">{% trans "Recently Completed Orders" %}</th></tr>
	     <tr>
	       <th>{% trans "order id" %}</th>
	       <th>{% trans "designer" %}</th>
	       <th>{% trans "completion date" %}</th>
	       <th>{% trans "designer time" %}</th>
	       <th>{% trans "processing time" %}</th>
	       <th>{% trans "client rating" %}</th>
	     </tr>
	   </thead>
	   <tbody>
	     {% for order in completed %}
	     <tr class="{% cycle 'even' 'odd' %}">
	       <td> {{ order.id }} </td> 
		   <td> {{ order.designer }} </td>
		   <td> {{ order.completed|date }} </td>
		   <td> {{ order.assigned|timeuntil:order.submitted }} </td> 
		   <td> {{ order.completed|timeuntil:order.submitted }} </td> 
		   <td> {{ order.client_review_rating|default:"N/A" }} </td> 
	     </tr>
	     {% endfor %}
	   </tbody>
	  </table>
	</div>

</div>

<!-- right column -->
<div class="grid_5  omega ">
	
	<div class="box">
	    <h2>{% trans "Order Statistics (simulated)" %}</h2>
		<table>
			<thead>
				<tr>
					<th>#</th>
					{% for desc in stats.headers %}
					<th> {{desc}} </th>	
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			    <tr>
			        <th>{% trans "New" %}</th>
					{% for stat in stats.arrived %}
			        <td>{{ stat }}</td>
			        {% endfor %}
			    </tr>
			    <tr>
				    <th>{% trans "Completed" %}</th>
					{% for stat in stats.completed %}
			        <td>{{ stat }}</td>						
					{% endfor %}
			    </tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
