{% extends "designer/base.html" %}
{% load i18n tags %}

{% block title %}
DesignFirst - Order Information for Order # {{ order.project_name }} [ {{order.id}} ] 
{% endblock %}

{% block content %}
	
	<!-- Order Information -->
	<div class="box">
		<h2>Order</h2>
		<div class="grid_5  alpha">
			<div class="box">
				<h5>{% trans "Information" %}</h5>
				<div>
					<table>
						<tr><th>{% trans "Order ID" %}</th><td>{{ order.id }}</td></tr>
						<tr><th>{% trans "Project" %}</th><td>{{ order.project_name }}</td></tr>
						<tr><th>{% trans "Color Views" %}</th><td>{{ order.color_views }}</td></tr>
						<tr><th>{% trans "Elevations" %}</th><td>{{ order.elevations }}</td></tr>
						<tr><th>{% trans "Quote / Cabinet List" %}</th><td>{{ order.quote_cabinet_list }}</td></tr>
					</table>				
				</div>
			</div>
		</div>
		
		<div class="grid_5  ">
			<div class="box">
				<h5>{% trans "Status" %}</h5>
				<div>
					<table>
						<tr><th>{% trans "Status" %}</th><td>{{ order.get_status_display }}</td></tr>
						<tr><th>{% trans "Assigned To" %}</th><td>{{ order.designer }}</td></tr>
						<tr><th>{% trans "Date Submitted" %}</th><td>{{ order.submitted|date }}</td></tr>
						<tr><th>{% trans "Projected Completion" %}</th><td>{{ order.projected|date }}</td></tr>
						<tr><th>{% trans "Last Updated" %}</th><td>{{ order.modified|date }}</td></tr>
					</table>				
				</div>
			</div>
		</div>

		<div class="grid_5  omega">
			<div class="box">
				<h5>{% trans "Control" %}</h5>
				<div>
					<form action="{% url assign_designer_to_order order.id %}" method="GET">
			   			<input type="submit" {{assign_disabled}}
					 		value="{% trans 'Assign Designer &rarr;' %}">
					</form>
										
					<form method="GET"  id="clarify-form"  action="{% url order_clarify order.id %}">
						<input type="submit" disabled name="clarify-order-action" value='{% trans "Request Clarification" %}'><br>
				    </form>
                    <form method="GET"  id="complete-form"   action="{% url complete_order order.id %}">
						<input type="submit" {{ complete_disabled }} name="complete-order-action" value='{% trans "Complete Order" %}'>
                    </form>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>

	</div>
	
	<!-- end first row -->
	<div class="clear"></div>
		
	<!-- begin 2-column -->
	<!-- col 1 - cabinetry stuff (mandatory info, generally) -->
	<div class="grid_6">
		
		<!-- cabinetry line / model info -->
		<div class="box">
			<h2>{% trans "Cabinetry" %}</h2>
			<div>
				<table>
					{% row_if order.cabinet_manufacturer %}	
					{% row_if order.cabinet_door_style %}	
					{% row_if order.cabinet_wood %}	
					{% row_if order.cabinet_stain %}	
					{% row_if order.cabinet_finish %}	
					{% row_if order.cabinet_finish_options N/A %}	
					{% row_if order.cabinetry_notes "N/A" %}	
				</table>
			</div>
		</div>
		
		<!-- Cabinetry box dimensions -->
		<div class="box">
			<h2>{% trans "Cabinet Box Dimensions" %}</h2>
			<div>
				{% if order.stacked_staggered or order.wall_cabinet_height or order.vanity_cabinet_height or order.vanity_cabinet_depth  %}
				<table>
					{% row_if order.stacked_staggered %}
					{% row_if order.wall_cabinet_height %}
					{% row_if order.vanity_cabinet_height %}
					{% row_if order.vanity_cabinet_depth  %}
				</table>
				{% else %}
				<p>NOT SPECIFIED</p>
				{% endif %}
			</div>
		</div>
		
		<!-- Cabinetry box dimensions -->
		<div class="box">
			<h2>{% trans "Mouldings" %}</h2>
			<div>
				<table>
					{% row_if order.ceiling_height %}
					
					{% row_if order.top_moulding_1 %}
					{% row_if order.top_moulding_2 %}
					{% row_if order.top_moulding_3 %}
					{% row_if order.bottom_moulding_1 %}
					{% row_if order.bottom_moulding_2 %}
					{% row_if order.bottom_moulding_3 %}
				</table>
				
				{% if order.soffits %}
				<table>
					<legend>Soffits</legend>
					{% row_if order.soffit_height N/A %}
					{% row_if order.soffit_width  N/A %}
					{% row_if order.soffit_depth  N/A %}
				</table>
				{% endif %}
						
			</div>
		</div>
		<!-- end Cabinetry box dimensions -->

		<!-- Hardware -->
		<div class="box">
			<h2>{% trans "Hardware" %}</h2>
			<div>
				<table>
					{% row_if order.door_hardware_type %}
					{% row_if order.door_hardware_model %}
					{% row_if order.drawer_hardware_type %}
					{% row_if order.drawer_hardware_model %}
				</table>
			</div>
		</div>
		<!-- end Hardware -->
		
		<!-- options -->
		<div class="box">
			<h2>{% trans "Design Options / Features" %}</h2>
			<div>
				<table border="0" cellspacing="5" cellpadding="5">
					{% for field in options %}
						{% row_if order:field %}						
					{% endfor %}
				</table>
			</div>
		</div>
		<!-- end options -->
		
	</div>
		
	<div class="grid_10">
		
		<div class="box">
			<h2>{% trans "Client Floorplan Sketch" %}</h2>
			<div>
				<img src="{{ order.user_sketch.url }}" width="600">
			</div>
			<p style="text-align:center;"><a href="#">(click to enlarge)</a></p>
		</div>
		
	</div>
	
	<!-- end second row -->
	<div class="clear"/>
	
	<!-- third row - appliances -->
	<div class="grid_16">
		
		<div class="box">
			<h2>{% trans "Appliances" %}</h2>
			<div>
				
			</div>
		</div>
		
	</div>
	
	<!-- fourth row - diagrams provided, diagrams to provide -->
	<div class="grid_16">
		
		<div class="box">
			<h2>{% trans "Client Diagrams" %}</h2>
			<div>
				
			</div>
		</div>
		
		
	</div>
	
	<!-- fifth row - buttons -->
	<div class="grid_16">
		
	</div>
	
{% endblock %}

