{% extends "designer/base.html" %}
{% load i18n order_stats %}

{% block title %}
{% trans "DesignFirst Stats" %}
{% endblock %}

{% block extra-head %}
    <style type="text/css" media="screen">
        table td, table th {
            width: 25%;
        }

        .subtotals {
            border: none;
        }

        .subtotals tr, .subtotals td {
            border: none;
            background: none;
        }

        .subtotals td.empty {
            width: 75%;
        }

        .total {
            width: 27%;
            float: right;
            font-size: 1.5em;
            margin-top: 1em;
        }
    </style>
{% endblock %}


{% block content %}
<h1>{% blocktrans with start_date|date as start and end_date|date as end %}Your invoice for period between {{ start }} - {{ end }}{% endblocktrans %}</h1>
<!-- left column -->
<div id="orders" class="grid_10  ">
  	<!-- pending (unassigned) orders - click to assign -->
	<div id="pending_order_table">
	   <table summary="{% trans 'order history and status' %}">
	   <thead>
	     <tr><th>{% trans "Design" %}</th>
             <th>{% trans "Options" %}</th>
             <th>{% trans "Comp. date" %}</th>
             <th>{% trans "Cost" %}</th>
	     </tr>
	   </thead>
       </table>
       {% regroup orders|ordered_by_source by source as source_list %}

	   {% for source in source_list %}
       <h3>{% firstof source.grouper "Empty source" %}</h3>
       <table>
         {% for order in source.list %}
	     <tr class="{% cycle 'even' 'odd' %}">
	       <td> {{ order.id }}</a> </td> 
		   <td> {{ order.options }} </td> 
		   <td> {{ order.completed|date }} </td>
		   <td> $ {{ order.cost }} </td> 
	     </tr>
         {% endfor %}
       </table>
       <table class="subtotals">
           <tr>
               <td class="empty" colspan=3></td>
               <td>$ {{ source.list|subtotals }}</td>
           </tr>
       </table>
	   {% endfor %}
        <div class="total">
            <strong>Total: $ {{ sum }}</strong>
        </div>
	</div>
</div>

<!-- right column -->
<div class="grid_5  omega ">
	<div class="box">
        <table>
            <tr>
                <td>{% trans "Invoice number" %}</td>
                <td>?</td>
            </tr>
            <tr>
                <td>{% trans "Invoice date" %}</td>
                <td>{{ invoice_date|date }}</td>
            </tr>
            <tr>
                <td>{% trans "Customer" %}</td>
                <td>?</td>
            </tr>
        </table>
      <a href="{% url order_invoice_print %}?{{ query }}">{% trans 'Print' %}</a>
	</div>
</div>


{% endblock %}
