{% load i18n order_stats util order_stats %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{% media /css/reset.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/text.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/grid.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/layout.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/nav.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/jquery-ui.css %}" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{% media /css/ie6.css %}" media="screen" /><![endif]-->
<!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="{% media /css/ie.css %}" media="screen" /><![endif]-->
	<script type="text/javascript" src="{% media /js/jquery-1.3.2.min.js %}"></script>
	<script type="text/javascript" src="{% media /js/jquery-ui.js %}"></script>
	<script type="text/javascript" src="{% media /js/jquery-fluid16.js %}"></script>
    <style type="text/css" media="screen">
        body, .box, table td {
            border: none;
            background: none;
        }
        .grid_5 {
            float: right;
        }

        table td, table th {
            width: 25%;
        }

        .subtotals {
            border: none;
        }

        .subtotals tr, .subtotals td {
            border: none;
            background: none;
        }

        .subtotals td.empty {
            width: 75%;
        }

        .total {
            width: 24.5%;
            float: right;
            font-size: 1.5em;
            margin-top: 2em;
        
        }
    </style>
  </head>
  <body>
    <div id="main" class="container_16">
      <div id="content">

<h1>{% blocktrans with start_date|date as start and end_date|date as end %}Your invoice for period between {{ start }} - {{ end }}{% endblocktrans %}</h1>

<div class="grid_10">
    <img src="{{ MEDIA_URL }}images/oneworld-logo.png" />
</div>

<!-- right column -->
<div class="grid_5  omega">
	<div class="box">
        <table>
            <tr>
                <td>{% trans "Invoice number" %}</td>
                <td>{{ invoice.pk }}</td>
            </tr>
            <tr>
                <td>{% trans "Invoice date" %}</td>
                <td>{{ invoice.generated_on|date }}</td>
            </tr>
        </table>
	</div>
</div>


<div style="clear: both;"></div>

<!-- left column -->
<div id="orders" class="grid_10" style="float: none;">
  	<!-- pending (unassigned) orders - click to assign -->
	<div id="pending_order_table">
	   <table summary="{% trans 'order history and status' %}">
	   <thead>
	     <tr><th>{% trans "Design" %}</th>
             <th>{% trans "Options" %}</th>
             <th>{% trans "Comp. date" %}</th>
             <th>{% trans "Cost" %}</th>
	     </tr>
	   </thead>
       </table>
       {% regroup orders|ordered_by_source by source as source_list %}

	   {% for source in source_list %}
       <h3>{% firstof source.grouper "Empty source" %}</h3>
       <table>
         {% for order in source.list %}
	     <tr class="{% cycle 'even' 'odd' %}">
	       <td> {{ order.id }}</a> </td> 
		   <td> {{ order.options }} </td> 
		   <td> {{ order.completed|date }} </td>
		   <td> $ {{ order.cost }} </td> 
	     </tr>
         {% endfor %}
       </table>
       <table class="subtotals">
           <tr>
               <td class="empty" colspan=3></td>
               <td>$ {{ source.list|subtotals }}</td>
           </tr>
       </table>
	   {% endfor %}
        <div class="total">
            <strong>Total: $ {{ sum }}</strong>
        </div>
	</div>
</div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
