{% extends "base.html" %}

{% block title %}New order{% endblock %}


{% block extrastyle %}
<script>
	$(function(){
		$('#id_desired').datepicker({ format: 'yyyy-mm-dd' });		
	})
</script> 

<style type="text/css" media="screen">
form p label {
    display: block;
    float: left;
    width: 12em;
    font-weight: bolder;
}
form p.buttons {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}

<div class="grid_10 prefix_2">
    <form method="POST">
        <div class="selector"></div>
        {{ form.as_p }}
        <p class="buttons">
        <input type="submit" value="Create Order" >
        </p>
    </form>
	<div>
		<p>
			If you have your floorplan sketch please take the time to fax that to us now.
		   	In order to ensure timely processing make sure you use the 
			{# <a href="{% url fax_cover order %}">special fax cover sheet</a>. #}
			
			This cover sheet has all of your account and order information plus barcodes that
			we use to automatically attach your diagram to your order.
		</p>
		<p>
		 	Your fax order submission number is - {{ account.fax_submission_number }}.
		</p>
		<p>
			Once your sketch is received and you complete the web form your order can be submitted.
		</p
	</div>
</div>
{% endblock %}
