{% extends "customer/dealer_base.html" %}


{% block title %}
DesignFirst Customer Dashboard
{% endblock %}

{% block content %}

<div id="orders" class="grid_9  ">

	<div class="block">
		<!-- WORKING -->
		<div id="working_orders_table">
		   <table summary="orders requiring user input">
		   <thead>
		     <tr><th class="table-head" colspan="5">Working Orders</th></tr>
		     <tr>
		       <th>id</th>
		       <th>project</th>
		       <th>last update</th>
		       <th>actions</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in working_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.updated }} {{ order.updated|date:"T" }} </td>
				<td>
    	       		{# <a href="{% url customer.views.edit_order_detail order.id %}">Update</a> #} 
    	       		<a href="{% url order-wizard order.id %}">Update</a> 
    				<a href="{% url order-wizard-step order.id, "review" %}">Submit</a>
				</td>
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		<!-- SUBMITTED -->
		<div id="assigned_order_table" class="block">
		   <table summary="orders being processed ">
		   <thead>
		     <tr><th class="table-head" colspan="5">Submitted Orders</th></tr>
		     <tr>
  		       <th>id</th>
		       <th>project</th>
		       <th>submitted</th>
		       <th>status</th>
		       <th>actions</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in submitted_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.submitted }} </td> 
				<td> {{ order.get_status_display }} </td> 
				<td> 
    	       		<a href="{% url print-order order.id %}">Print</a>
				</td> 
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		
		<!-- completed orders table -->
		<div id="completed_order_table" class="block">
		   <table summary="completed orders">
		   <thead>
		     <tr><th class="table-head" colspan="5">Completed Orders</th></tr>
		     <tr>
		       <th>order id</th>
		       <th>project</th>
		       <th>rating</th>
		       <th>processing time</th>
			   <th>actions</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in archived_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.get_client_review_rating_display }} </td> 
				<td> {{ order.completed|timesince:order.submitted }} </td>
				<td>    	       		
					<a href="{% url print-order order.id %}">Print</a>
				</td>
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		
	</div>
</div>

<div class="grid_7  ">
	<div class="box">
	    <h2>Company Info</h2>
		<table>
			<tbody>
				<tr><th>Company</th><td>{{ account.legal_name }}</td></tr>
				<tr><th>Account Status</th><td>{{ account.get_status_display }} </td></tr>
				<tr><th>Credit Balance</th><td>{{ account.credit_balance }} 
						<a href="{% url select_products %}">Purchase</a></td></tr>
			</tbody>
		</table>
	</div>
  <div class="box">
      <h2>Transaction History</h2>
   <table summary="transcation history">
    <caption>Transactions</caption>
   <thead>
     <tr>
       <th>Date</th>
       <th>Status</th>
       <th>Amount</th>
       <th>description</th>
     </tr>
   </thead>
   <tbody>
     {% for tx in invoices %}
     <tr class="{% cycle 'even' 'odd' %}">
       <td> {{ tx.created|date }}</td> <td> {{ tx.get_status_display }} </td> <td>{{ tx.total_credit }}</td><td> {{ tx.description|ljust:20 }} </td>
     </tr>
     {% endfor %}
   </tbody>
  </table>
  </div>
  </div>

{% endblock %}
