{% extends "customer/dealer_base.html" %}

{% block title %}
DesignFirst - Design Order 
{% endblock %}

{% block extra-head %}
<style type="text/css" media="screen">

	label {
		font-weight: bolder;
	}
	
	ul  {
		list-style: none;
	}
	
	tbody th {
		margin-top: 3px;
		margin-bottom: 3px;
		border-top: none;
		border-bottom: none;
	}
	
	#appliance_option_form table {
		border-style: solid;
		border-color: #444;
		border-width: 1px;
		margin-top: 10px;
	}
	
	#appliance_option_form p {
		display: inline;
		position: relative;
		float: left;
		clear: left;
		margin: 5px;	
	}
	
	#appliance_option_form label {
		display: inline-block;		
		width: 8em;
		
	}
	
	#appliance_option_form input {
		display: inline;	
	}
</style>	
	
{% endblock %}
{% block content %}


<!-- order and account information -->
<!-- order info -->
    <div class="grid_6 prefix_1 alpha">
    	<div id="order_info" class="box">
    		<h2>Order </h2> 
    		<table>
    			<tbody>
    				<tr><th>Project Name</th><td colspan=2>{{ order.description }}</td></tr>
					<tr><th>Order #</th><td colspan=2>{{ order.id }}</td></tr>
    				<tr><th>Status</th><td colspan=2>{{ order.get_status_display }} </td></tr>
    				<tr><th>Last Modified</th><td colspan=2>{{ order.updated }}</td></tr>
    			</tbody>
    		</table>
    	</div>
    </div>
    
<!--  account info -->
    <div class="grid_5 prefix_3 omega ">
    	<div id="account_info" class="box ">
    		<h2>Account </h2>
    		<table>
    			<tbody>
    				<tr><th>Customer</th><td>{{ order.owner.first_name }} {{ order.owner.last_name }} ({{ order.owner }})</td></tr>
    				<tr><th>Account #</th><td>{{ order.owner.get_profile.account.id }}</td></tr>
                    {# <tr><th>Available Credit</th><td>{{order.owner.get_profile.account.credit_balance}}</td></tr> #}
    				<tr><th>&nbsp;</th><td>&nbsp;</td></tr>
    				<tr><th>&nbsp;</th><td>&nbsp;</td></tr>
    			</tbody>
    		</table>
    	</div>
    </div>
    
<!-- ================================== -->
<!-- design details, section by section -->
<!-- ================================== -->

								
			
    {% for form in formlist %}
    <!-- Design Request Data Entry Area -->
    <div class="grid_8 {% cycle "" "clearfix" %}">
        <div class="box">            
            <h2> {{ form.name }} </h2>
        	<form action="." method="POST" accept-charset="utf-8">
        		<input type="hidden" name="_formname" value="{{ form_name }}">
        		<fieldset>
				<table>
        			{{ form }}
				</table>
				<input type="submit" value="update">
        		</fieldset>
        	</form>            	            
        </div>
    </div>

    {% endfor %}



<!-- appliance info -->
    <div class="grid_14 prefix_1 alpha">
	    <div id="appliance_option_form" class="box">
			<h2>Appliances</h2>
			<table>
				<thead>
				<tr><th class="table-head" colspan="7">Appliances</th></tr>
                <tr><th>Type</th>
                    <th>Model</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Depth</th>
                    <th>Options</th>
                    <th>#</th>
                </tr>
			</thead>
			<tbody>
                {% if order.appliances %}
                    {% for appliance in order.appliances.all %}
                    <tr><td>{{ appliance.type }}</td>
                        <td>{{ appliance.model }}</td>
                        <td>{{ appliance.width }}</td>
                        <td>{{ appliance.height }}</td>
                        <td>{{ appliance.depth }}</td>
                        <td>{{ appliance.options }}</td>
                        <td><a href={% url delete_order_appliance order.id appliance.id %}>Delete</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="6">&nbsp;</tr>
                {% endif %}
            </tbody>
			</table>
			<div class="box">
			<form method="POST" action="">
				<fieldset>
					<legend>Add Appliance</legend>
					<input type="hidden" name="_formname" value="{{ appliance_form.name }}">
	                {{ appliance_form.as_p }}
				</fieldset>
                <input type="submit" name="submit" value="add appliance" />
			</form>		
		</div>
	    </div>
    </div>

<!-- attachments and other stuff -->
    <div class="grid_14 prefix_1 alpha">
        <div id="template-display" class="box">
	        <h2>diagrams</h2>
			<p>Download your personalized floorplan template here
    			<a target="_blank" href=" {% url customer.views.generate_floorplan_template order.id %}">
    			   <img src="{{ MEDIA_URL }}/images/disk.png"></a>
			</p>
			<p>
			   Currently Attachments : 
			   <table border="0" cellspacing="5" cellpadding="5">
			       <thead>
    			     <tr><th>Timestamp</th>
    			         <th>Document ID</th>
    			         <th>Filename</th>
    			         <th>Type</th>
    			         <th>Delete?</th>
    			         </tr>
			       </thead>
			       <tbody>
			     {% for attachment in  order.attachments.all %}
    			     <tr>
    			         <td>{{ attachment.timestamp|date }} - {{ attachment.timestamp|time }}</td>
    			         <td>{{ attachment.order.id }}-{{ attachment.id }}</td>
						 {% if file %}
    			         <td><a href="{{ attachment.file.url }}">{{ attachment }}</a></td>
						 {% else %}
    			         <td>(no file)</td>
						 {% endif %}
    			         <td>{{ attachment.get_type_display }}</td>
    			         <td><a href="{% url order-wizard-step attachment.order.id,"diagrams" %}?delete={{attachment.id}}">delete</a></td>
		            </tr>			         
			     {% endfor %}
			     </tbody>
			   </table>
			   <form action="." method="POST" enctype="multipart/form-data">
   				   <input type="hidden" name="_formname" value="{{ attachment_form.name }}">
			       <fieldset>
						<legend>Add Attachment</legend>
                        {{ attachment_form }}
			       </fieldset>
                   <input type="submit" name="submit" value="Upload">
			   </form>
			</p>
        </div>
    </div>
	
	
	<div class="grid_3 alpha">
		<form action="{% url customer.views.dealer-dashboard %}" method="get" accept-charset="utf-8">
			<p><input type="submit" value=" &larr; Back to Dashboard"></p>
		</form>
	</div>
	<div class="grid_3 prefix_10 omega">
		<form action="{% url customer.views.dealer_submit_order order.id %}" method="get" accept-charset="utf-8">
			<p><input type="submit" value="Submit Design Request &rarr;"></p>
		</form>
	</div>
		
{% endblock %}

