{% extends "base.html" %}

{% block title %}New order{% endblock %}


{% block extrastyle %}
<script>
	var PRICES = {{prices|safe}};
	
	$(function(){
		$('#id_design_product').change(function(){
			var value = "";
			if (this.value != "")
				value = PRICES[this.value];
			$('#id_cost').val(value);
		});

		$('#id_desired').datepicker({ format: 'yyyy-mm-dd' });
		
	})
</script> 
{% endblock %}

{% block content %}

<form method="POST">
<div class="selector"></div>
<table class="form">{{ form }}</table>
<input type="submit" value="Create" >
</form>

{% endblock %}
