{% extends "dsadmin/base.html" %}

{% block title %} {% endblock %}


{% block content %}

<div class="grid_6 prefix_5">
    <div class="box">
        <h2>Order Confirmation</h2>
        <h1>Your Order ID is {{ object.customer.id }}-{{ object.id }}</h1>
    </div>
    <div>
        <a href="{% url dsadmin-dashboard %}">Return to Dashboard</a>
        <a href="{% url attach-order-floorplan object.id %}">Upload Floorplan</a>        
        <a href="{% url edit-fax-order object.id %}">Enter Design Request Info</a>
    </div>
</div>

{% endblock %}
