<style>
img#preview {
	max-width: 600px;
	max-height: 600px;
}
</style>
<script>
$(function(){
	$('a.imgpage').click(function(){
		$('#preview').attr('src', this.href);
		return false;
	})
	$('#preview').attr('src', $('a.imgpage').get(0).href);
})
</script>
<table>
<tr>
	<td valign="top">
		File: <strong>{{attachment}}</strong><br>
		Size: <strong>{{attachment.file.size|filesizeformat}}</strong><br>
		Pages: <strong>{{attachment.page_count}}</strong><br>
		Type: <strong>{{attachment.get_type_display}}</strong><br>
	</td>
	<td>
		{% for preview in attachment.previews %}
		<a href="{{preview.url}}" class="imgpage">{{preview.page}}</a>
		{% endfor %}
		<br>
		<img src="" id="preview">
	</td>
</tr>
</table>
