{% extends "base.html" %}
{% load ajax_form_utils wizard_tags %}


{% block title %}{{wizard.order}} | {{wizard.step_title}}{% endblock %}




{% block extra-head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/wizard.css" type="text/css" media="screen" title="wizard css" charset="utf-8"/>
	{{ form.media }}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.validation.js"></script>	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/wizard.js"></script>
	<script type="text/javascript">
		var STEP = '{{wizard.step}}'
		var MEDIA_URL = '{{ MEDIA_URL }}'
		var IS_FIRST_STEP = {{wizard.is_first_step|lower}};	

		{% block ajax-validation %}
		$(function(){
			//Ajax validation:
			$('form').validation({% render_ajax_fields form %});
		})
		{% endblock %}
	</script>
{% endblock %}


{% block content %}
	<div id="wizard_steps" class="grid_16">
	{% block wizard-steps%}
		{% for step in wizard.get_tabs %}
			<div class="step_icon{% if step.selected %} selected{% endif %} {% if wizard|step_finished:step %}finished{% endif %}">
				<a href="{{ step.url }}" step="{{step.slug}}">
					<img src="{{MEDIA_URL}}wizard/{{step.slug}}{% if step.selected %}_selected{% endif %}.png" alt="{{step.slug}}"/>
					<span>{{step.title}}</span>
				</a>
			</div>
		{% endfor %}
	{% endblock %}
	</div>



<form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} id="wizard_form" action=".">
	<input type="hidden" name="next_step_" id="next_step" value="_next_">
	<div class="container_16 clearfix">

	{% block wizard-base-content %}
	<div id="wizard_content" class="grid_11 ">
		<fieldset id="section-fields">
			<legend>{{ wizard.step_title }}</legend>
			{% block wizard-content %}
			{% endblock %}			
		</fieldset>
		<fieldset id="section-notes" class="collapse">
			<legend>Notes{%if section_notes %}*{% endif %}</legend>
			<div>
				<p>Use this section to note any additional information that may be helpful for the designer.</p>
				<textarea id="notes" name="section_notes" rows="4" cols="80">{{ section_notes }}</textarea>
			</div>
		</fieldset>
	</div>
	
	
	<div id="wizard_summary"  class="grid_5 ">
		<fieldset>
			<legend>Order summary</legend>
			{% block wizard-summary %}
<!-- 			Project Name: <strong>{{wizard.order}}</strong> -->
			
			<div id="summary_content">
			{% for section, values in wizard.get_summary %}
				<div class="box">
					<h2>{{section}}</h2>
					<table>
					{% for name, value in values %}
						{% if value|length %}
					    <tr><th>{{name}}</th><td>{{value|default:"Not Specified"}}</td></tr>
					    {% endif %}
					{% endfor %}
					</table>
				</div>
			{% endfor %}
			</div>	
			{% endblock %}
		</fieldset>
	</div>
	{% endblock wizard-base-content %}
</div> <!-- end container -->

{% block wizard-base-navigation %}
<!-- start wizard-base-navigation -->
<div id="wizard-base-navigation" class="container_16 clearfix">
	<div id="wizard-base-nav" >
		<div class="grid_16">
			<div class="buttonbar left">
				<!-- <input type="submit" name="{{BTN_SKIP}}" value="Skip"> -->
				<a href="/dealer/"><em>Continue later</em></a>
			</div>
			<div class="buttonbar right">
				<input type="submit" name="{{BTN_PREVIOUS}}" value="Previous"{% if wizard.is_first_step %} disabled="disabled"{%endif%}>
				{% if wizard.is_last_step %}
					{% if wizard.is_valid_order %}
					<input type="submit" name="{{BTN_SAVENEXT}}" value="Complete Order">
					{% else %}
					<input type="submit" name="{{BTN_SAVENEXT}}" value="Order Incomplete" disabled="disabled">
					{% endif %}
				{% else %}
				<input type="submit" name="{{BTN_SAVENEXT}}" value="Save/Next">
				{% endif %}
			</div>
		</div>
	</div>
</div>	
<!-- end wizard-base-navigation -->
{% endblock wizard-base-navigation %}

</form>

<div class="clear"></div>




{% endblock %}
