{% extends "base.html" %}
{% load ajax_form_utils %}


{% block title %}{{wizard.order}} | {{wizard.step_title}}{% endblock %}




{% block extra-head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/wizard.css" type="text/css" media="screen" title="wizard css" charset="utf-8"/>
	{{form.media}}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.validation.js"></script>
	
<script type="text/javascript">
var STEP = '{{wizard.step}}'
var MEDIA_URL = '{{ MEDIA_URL }}'
var IS_FIRST_STEP = {{wizard.is_first_step|lower}};
var KEY_TAB = 9;

function wizard_go_to(step) {
	$('#next_step').val(step)
	$('form#wizard_form').submit();
}

{% block ajax-validation %}
$(function(){
	//Ajax validation:
	$('form').validation({% render_ajax_fields form %});
})
{% endblock %}

function get_fieldset_id(element) {
	var id = false;
	$(element).parents().each(function(){
		if (this.tagName == 'FIELDSET') {
			id = $(this).attr('id').replace('fields_', '')
			return false
		}
	})
	return id;
}

$(function(){
	//Tabs navigation:	
	$('#wizard_content :input:visible:first').keydown(function(event){
		if (event.keyCode == KEY_TAB && event.shiftKey) {
			if (!IS_FIRST_STEP)
				wizard_go_to('_prev_')
			return false;
		}
	}).focus()
	$('#wizard_content :input:visible:last').keydown(function(event){
		if (event.keyCode == KEY_TAB && !event.shiftKey) {
			wizard_go_to('_next_')
			return false;
		}
	})
	$('#wizard_steps a').click(function(){
		wizard_go_to($(this).attr('step'))
		return false;
	})

	//Collapse fieldsets:
	$('fieldset.collapse legend').click(function() {
		$(this).parent().find('div').toggle('fast');
	})
})
</script>
{% endblock %}


{% block content %}
	<div id="wizard_steps" class="grid_16">
	{% block wizard-steps%}
		{% for step in wizard.get_tabs %}
			<div class="step_icon{% if step.selected %} selected{% endif %}">
				<a href="{{ step.url }}" step="{{step.slug}}">
					<img src="{{MEDIA_URL}}images/wizard/{{step.slug}}{% if step.selected %}_selected{% endif %}.png" alt="{{step.slug}}"/>
					<span>{{step.title}}</span>
				</a>
			</div>
		{% endfor %}
	{% endblock %}
	</div>



</div> <!-- end container -->
<form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} id="wizard_form" action=".">
	<input type="hidden" name="next_step_" id="next_step" value="_next_">
<div class="container_16 clearfix">

	{% block wizard-base-content %}
	<div id="wizard_content" class="grid_11 ">
		<fieldset>
			<legend>{{wizard.step_title}}</legend>
			{% block wizard-content %}
			{% endblock %}
		</fieldset>
	</div>
	
	
	<div id="wizard_summary"  class="grid_5 ">
		<fieldset>
			<legend>Order summary</legend>
			{% block wizard-summary %}
<!-- 			Project Name: <strong>{{wizard.order}}</strong> -->
			
			<div id="summary_content">
			{% for section, values in wizard.get_summary %}
				<div class="box">
					<h2>{{section}}</h2>
					<table>
					{% for name, value in values %}
						{% if value|length %}
					    <tr><th>{{name}}</th><td>{{value|default:"Not Specified"}}</td></tr>
					    {% endif %}
					{% endfor %}
					</table>
				</div>
			{% endfor %}
			</div>	
			{% endblock %}
		</fieldset>
	</div>
	{% endblock wizard-base-content %}
</div> <!-- end container -->
{% block wizard-base-navigation %}
<div id="wizard-base-navigation" class="container_16 clearfix">
	<div id="wizard-base-nav" >
		<div class="grid_16">
			<div class="buttonbar left">
				<!-- <input type="submit" name="{{BTN_SKIP}}" value="Skip"> -->
				<a href="/dealer/"><em>Continue later</em></a>
			</div>
			<div class="buttonbar right">
				<input type="submit" name="{{BTN_PREVIOUS}}" value="Previous"{% if wizard.is_first_step %} disabled="disabled"{%endif%}>
				<input type="submit" name="{{BTN_SAVENEXT}}" value="Save/Next">
			</div>
		</div>
	</div>
</div>	<!-- end container wizard-base-navigation -->
{% endblock wizard-base-navigation %}
</form>

<div class="clear"></div>




{% endblock %}
