{% extends "orders/base.html" %}

{% block title %}{{order}} | Submit{% endblock %}

{% block extra-head %}
<style>
.details {
	height: 400px;
	overflow: auto;
}
</style>
<script>
$(function(){
	$('a.diagram').click(function(){
		$('img#diagram').attr('src', this.href);
		return false;
	})
})

function show_details(type, caption) {
	$('.details').hide();
	$('#'+type).show()
	$('legend#caption').html(caption);
}
</script>
{% endblock %}


{% block orders-base-content %}
<form method="POST">
    <div class="grid_6 alpha">
    	<div class="box"> 
    	    <h2>Submit Project</h2>
    	    <div>
        		Project Name: <strong>{{order.project_name}}</strong><br>
        		Order #: <strong>{{order.id}}</strong><br>		
        	</div>
    	</div>
    	<div class="box"> 
    	    <h2>Set Processing Options</h2>
    	    <div>
        		<table>{{form}}</table>
        	</div>
    	</div>
    	<div class="box">
        	<a href="{% url print-order order.id %}">Print</a>
    		<input type="submit" value="Submit">
    	</div>
    </div>

<div class="grid_10 omega">
	<div class="box"> 
	    <h2>Design Selections</h2>
	    <div>
        	{% for section, values in data.items %}
        		{% ifequal section "Options" %}
        		{% else %}
        		<div class="box">
        			<h2>{{section}}</h2>
        			<div>
            		{% for name, value in values %}
            			<p>{{name}}: {{value}}</p>
            		{% endfor %}
            		</div>
        		</div>
        		{% endifequal %}
        	{% endfor %}
    	</div>
    <fieldset>
	<legend id="caption">Options</legend>
		<div id="options" class="details">
		<table>
			{% for name, value in data.Options %}
				<tr class="row{% cycle "1" "2"%}">
					<td>{{name}}</td><td>{{value}}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="applicances" class="details" style="display: none;">
		<table>
			<tr>
				<th>Type</th>
				<th>Description</th>
				<th>Width</th>
				<th>Height</th>
				<th>Depth</th>
				<th> </th>
			</tr>
			{% for item in order.appliances.all %}
			<tr class="row{% cycle "1" "2"%}">
				<td>{{item.type}}</td>
				<td>{{item.description|default:"N/A"}}</td>
				<td>{% if item.width %}{{item.width}}&#148;{% endif %}</td>
				<td>{% if item.height %}{{item.height}}&#148;{% endif %}</td>
				<td>{% if item.depth %}{{item.depth}}&#148;{% endif %}</td>
				<td><a href="./?delete={{item.id}}" class="dellink">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="diagrams" class="details" style="display: none;">
		{% for url in order.attachement_previews %}
			<a href="{{url}}" class="diagram">{{forloop.counter}}</a>
		{% endfor %}
		<br>
		<img src="{{order.attachement_previews.0}}" id="diagram">
		</div>
		
		<input type="button" value="Options" onclick="show_details('options', 'Options')">
		<input type="button" value="Applicances" onclick="show_details('applicances', 'Applicances')">
		<input type="button" value="Diagrams" onclick="show_details('diagrams', 'Diagrams')">
</fieldset>
</form>

</div>


{% endblock %}
