{% extends "wizard/base.html" %}

{% block title %}{{order}} | Submit{% endblock %}

{% block extra-head %}
<style>
.details {
	height: 400px;
	overflow: auto;
}

.summary-row {
}

div.summary-row span {
	display: block;
	width: 17em;
	font-weight: bolder;
}

</style>
<script>
$(function(){
	$('a.diagram').click(function(){
		$('img#diagram').attr('src', this.href);
		return false;
	})
})

function show_details(type, caption) {
	$('.details').hide();
	$('#'+type).show()
	$('legend#caption').html(caption);
}
</script>
{% endblock %}


{% block wizard-base-content %}
<form method="POST">
    <div class="grid_8 alpha">
    	<div class="box"> 
    	    <h2>Order Processing Options</h2>
    	    <div>
        		<table>{{form}}</table>
        	</div>
    	</div>
    	<div class="box">
        	<a href="{% url print-order order.id %}">Print</a>
    		<input type="submit" value="Submit">
    	</div>
    </div>

<div class="grid_8 omega">
	<div class="box"> 
	    <h2>Design Selections</h2>
	&nbsp;
       	{% for section, values in data.items %}
	    <div>
			{% ifequal section "Options" %}
			{% else %}
			<fieldset>
				<legend>{{section}}</legend>
				{% for name, value in values %}
				<div class="summary-row">
					<span>{{name}}</span> {{value}}
				</div>
				{% endfor %}
			</fieldset>
			{% endifequal %}
    	</div>
       	{% endfor %}
    <fieldset>
	<legend id="caption">Options</legend>
		<div id="options" class="details">
		<table>
			{% for name, value in data.Options %}
				<tr class="row{% cycle "1" "2"%}">
					<th>{{name}}</th><td>{{value|yesno}}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="applicances" class="details" style="display: none;">
		<table>
			<tr>
				<th>Type</th>
				<th>Description</th>
				<th>Width</th>
				<th>Height</th>
				<th>Depth</th>
				<th> </th>
			</tr>
			{% for item in order.appliances.all %}
			<tr class="row{% cycle "1" "2"%}">
				<td>{{item.type}}</td>
				<td>{{item.description|default:"N/A"}}</td>
				<td>{% if item.width %}{{item.width}}&#148;{% endif %}</td>
				<td>{% if item.height %}{{item.height}}&#148;{% endif %}</td>
				<td>{% if item.depth %}{{item.depth}}&#148;{% endif %}</td>
				<td><a href="./?delete={{item.id}}" class="dellink">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="diagrams" class="details" style="display: none;">
		{% for url in order.attachement_previews %}
			<a href="{{url}}" class="diagram">{{forloop.counter}}</a>
		{% endfor %}
		<br>
		<img src="{{order.attachement_previews.0}}" id="diagram">
		</div>
		
		<input type="button" value="Options" onclick="show_details('options', 'Options')">
		<input type="button" value="Applicances" onclick="show_details('applicances', 'Applicances')">
		<input type="button" value="Diagrams" onclick="show_details('diagrams', 'Diagrams')">
</fieldset>
</form>

</div>


{% endblock %}
