{% extends "wizard/base.html" %}

{% block extra-head %}
{{block.super}}
<script type="text/javascript" src="{{ MEDIA_URL }}js/autocomplete_combobox.js"></script>
<style>
#manufact_icons img {
	margin: 10px;
	float: left;
	cursor: pointer;
}
</style>
<script>

$(function(){
	var MANUFACTURERS = {{ manufacturers_json|safe }};
    var AUTOCOMPLETE_TREE = {{ autocomplete_tree|safe }};
    var default_selects = {};

    // prepare dictionry with options for default selects
    $("#wizard_form select").each(function() {
        var $$ = $(this);
        default_selects[$$.attr("id")] = $.map($$.find("option"), function(option) {
            return $(option).text()
        });
    });

    function update_all_choices() {
        var manufacturer_input = $("#id_manufacturer"),
            manufacturer_val = manufacturer_input.val();
            manufacturer = null,
            dependent_inputs = [ "product_line", "cabinet_material", "door_style",
                                 "finish_color", "finish_type", "finish_options"];

        // this is to prevent change on both `result` and `change` events
        if (manufacturer_input.data("last_choice_update_on") == manufacturer_val) {
            return;
        }

        $.each(dependent_inputs, function(i) {
            var name = dependent_inputs[i],
                input = $("#id_" + name),
                choices = [];

            if (manufacturer_val in AUTOCOMPLETE_TREE) {
                choices = AUTOCOMPLETE_TREE[manufacturer_val][name + "s"];
            }
            input.update_choices(choices, default_selects);
        });

        manufacturer_input.data("last_choice_update_on", manufacturer_val);
    }
	$("#id_manufacturer").autocomplete(MANUFACTURERS).result(update_all_choices).change(update_all_choices);

	//Manufacturere icon click handler
    $('#manufact_icons img').click(function() {
        $("#id_manufacturer").val(this.alt).change();
    });
});


</script>
{% endblock %}

{% block wizard-content %}

<div style="width: 35%; float: right;" id="manufact_icons">
	{% for line in cabinet_lines %}
        {% if line.logo_path %}
            <img src="{{ MEDIA_URL }}{{ line.logo_path }}" width="75" alt="{{ line.catalog_name }}">
        {% endif %}
	{% endfor %}
</div>

{% include "fieldsets_form.html" %}
{% endblock %}
