{% extends "wizard/base.html" %}
{% load ajax_form_utils %}


{% block ajax-validation %}{% endblock %}

{% block extra-head %}
{{block.super}}
<script type="text/javascript" src="{{ MEDIA_URL }}js/manufacturers_page.js"></script>
<style>
#manufact_icons img {
	margin: 10px;
	float: left;
	cursor: pointer;
}
</style>
<script>

$(function(){
	var MANUFACTURERS = {{ manufacturers_json|safe }};

    $("#id_manufacturer").manufacturerHandle({
        manufacturers: MANUFACTURERS,
        validation_json: {% render_ajax_fields form %},
        manufacturer_ajax_url: "{% url ajax-manufacturer %}",
        default_selects: {{ default_selects|safe }}
    });

	//Manufacturere icon click handler
    $('#manufact_icons img').click(function() {
        $("#id_manufacturer").val(this.alt).change();
    });
});


</script>
{% endblock %}

{% block wizard-content %}

<div style="width: 35%; float: right;" id="manufact_icons">
	{% for line in cabinet_lines %}
        {% if line.logo_path %}
            <img src="{{ MEDIA_URL }}{{ line.logo_path }}" width="75" alt="{{ line.catalog_name }}">
        {% endif %}
	{% endfor %}
</div>

{% include "fieldsets_form.html" %}
{% endblock %}
