{% extends "wizard/base.html" %}

{% block extra-head %}
{{block.super}}
<style>
#manufact_icons img {
	margin: 10px;
	float: left;
	cursor: pointer;
}
</style>
<script>

$(function(){
	var MANUFACTURERS = {{manufacturers_json|safe}};

	function item_name(item) {
		return item.name;
	}


	function clean_manuf_related() {
		$('#id_door_style').val('');
    	$('#id_cabinet_material').val('');
    	$('#id_finish_color').val('');
	}

    function update_manufacturer(newval) {
        var $man = $("#id_manufacturer");
        if (newval != $man.val())
        	clean_manuf_related()
        $man.val(newval); 
    }

	//Manufacturere icon click handler
    $('#manufact_icons img').click(function() {
    	update_manufacturer(this.alt);
    })

	//Manufacturere autocompleter
	$("#id_manufacturer").autocomplete(MANUFACTURERS, {
		formatItem: function (item) {
			return item.name;
		}
	}).result(function(event, item){
		clean_manuf_related();
    })


	//Door material autocompleter
	$("#id_cabinet_material").autocomplete('{% url ajax-door-material %}', {
		extraParams: {
			manufacturer: function() { return $("#id_manufacturer").val(); }
		}
	})

	//Door style autocompleter
	$("#id_door_style").autocomplete('{% url ajax-door-style %}', {
		extraParams: {
			manufacturer: function() { return $("#id_manufacturer").val(); }
		}
	})

	//Finish color autocompleter
	$("#id_finish_color").autocomplete('{% url ajax-finish-color %}', {
		extraParams: {
			manufacturer: function() { return $("#id_manufacturer").val(); }
		}
	})
})


</script>
{% endblock extra-head %}


{% block wizard-content %}

<div style="width: 35%; float: right;" id="manufact_icons">
	{% for item in manufacturers %}
		{% if item.small_logo %}
		<img src="{{item.small_logo.url}}" width="75" alt="{{item.name}}">
		{% endif %}
	{% endfor %}
</div>

{% include "fieldsets_form.html" %}


{% endblock %}