{% extends "wizard/base.html" %}

{% block extra-head %}
{{block.super}}
{{ form.media }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/field_images_hover.js"></script>
<script type="text/javascript">
$(function(){
	//Fixed for tab navigation for 1st radiobutton (in last radio-button-group)
	//TODO: this should be done automatically
	$('#id_degree90_corner_base_shelv_0').keydown(function(event){
		if (event.keyCode == KEY_TAB && !event.shiftKey) {
			wizard_go_to('_next_')
			return false;
		}
	});
	
	var GROUPS = [
       	['diagonal_corner_wall', 'diagonal_corner_wall_shelv'], 
       	['diagonal_corner_base', 'diagonal_corner_base_shelv'], 
       	['degree90_corner_wall'], 
       	['degree90_corner_base', 'degree90_corner_base_shelv']
	];

    field_images_hover(GROUPS, "corner_cabinet", "{{ MEDIA_URL }}");

});
</script>
{% endblock %}

{% block wizard-content %}

{% include "fieldsets_form.html" %}

{% endblock %}
