{% extends "dealer_base.html" %}


{% block title %}
DesignFirst Customer Dashboard
{% endblock %}

{% block content %}

<div id="orders" class="grid_9  suffix_1">

	<div class="block">
		<!-- live orders table -->
		<div id="open_order_table">
		   <table summary="orders requiring user input">
		   <thead>
		     <tr><th class="table-head" colspan="5">Open Orders</th></tr>
		     <tr>
		       <th>order id</th>
		       <th>status</th>
		       <th>project</th>
		       <th>created</th>
		       <th>actions</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in open_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.get_status_display }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.modified|date:"D, M j @ P T" }} </td>
				<td>
				{% if order.client_editable %} 
		       		<a href="{% url home.views.edit_order_detail order.id %}">Update</a> 
				{% endif %}
				{% ifequal "DLR" order.status %} 
		       		<a href="{% url home.views.edit_order_detail order.id %}">Delete</a> 
				{% endifequal %}
				{% if order.is_submittable %}
					<a href="{% url home.views.dealer_submit_order order.id %}">Submit</a>
				{% endif %}
				{% if order.is_completed %}
					<a href="{{ order.designer_package.url }}">Review</a> 
					<a href="{% url home.views.dealer_accept_order order.id %}">Accept</a> 
					<a href="{% url home.views.dealer_reject_order order.id %}">Reject</a> 
				{% endif %}
				&nbsp;
				</td>
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		<!-- working orders table -->
		<div id="working_order_table" class="block">
		   <table summary="orders being processed ">
		   <thead>
		     <tr><th class="table-head" colspan="5">Working Orders</th></tr>
		     <tr>
		       <th>order id</th>
		       <th>project</th>
		       <th>submitted</th>
		       <th>last update</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in working_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.submitted|date:"D, M j @ P T" }} </td> 
				<td> ... working ... </td>
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		
		<!-- archived orders table -->
		<div id="dead_order_table" class="block">
		   <table summary="accepted and rejected orders">
		   <thead>
		     <tr><th class="table-head" colspan="5">Closed Orders</th></tr>
		     <tr>
		       <th>order id</th>
		       <th>project</th>
		       <th>rating</th>
		       <th>processing time</th>
		     </tr>
		   </thead>
		   <tbody>
		     {% for order in archived_orders %}
		     <tr class="{% cycle 'even' 'odd' %}">
		       	<td> {{ order.id }} </td> 
				<td> {{ order.project_name }} </td> 
				<td> {{ order.get_client_review_rating_display }} </td> 
				<td> {{ order.completed|timesince:order.submitted }} </td>
		     </tr>
		     {% endfor %}
		   </tbody>
		  </table>
		</div>
		
		
	</div>

  <!-- new order form -->
  <form id="order_form" action="{% url home.views.create_order %}">
    <input type="submit" value="cancel"/>
    <input type="submit" value="new"/>
  </form>
</div>

<div class="grid_6  ">
	<div class="box">
	    <h2>Company Info</h2>
		<table>
			<tbody>
				<tr><th>Company</th><td>{{ account.company_name }}</td></tr>
				<tr><th>Account Status</th><td>{{ account.get_status_display }} </td></tr>
				<tr><th>Credit Balance</th><td>{{ account.credit_balance }} 
						<a href="{% url product-list %}">Purchase</a></td></tr>
			</tbody>
		</table>
	</div>
	<div class="box">
	    <h2>Statistics</h2>
		<table>
			<tbody>
				<tr><th># Designs Purchased</th><td>{{ stats.purchased }}</td></tr>
				<tr><th>Average Cost / Design</th><td>{{ stats.purchased }}</td></tr>
				<tr><th>Average Quality Rating</th><td>{{ stats.purchased }}</td></tr>
				<tr></tr>
				<tr><th># Sold Designs</th><td>{{ stats.purchased }}</td></tr>
				<tr><th>Sell Ratio</th><td>{{ stats.purchased }}</td></tr>
				<tr><th>Total Dollars Saved</th><td>{{ stats.purchased }}</td></tr>
				<tr><th>Total Design Hours Saved </th><td>{{ stats.purchased }}</td></tr>
			</tbody>
		</table>
	</div>
  <div class="box">
      <h2>Transaction History</h2>
   <table summary="transcation history">
    <caption>Transactions</caption>
   <thead>
     <tr>
       <th>timestamp</th>
       <th>type</th>
       <th>+/-</th>
       <th>amount</th>
       <th>description</th>
     </tr>
   </thead>
   <tbody>
     {% for tx in transactions %}
     <tr class="{% cycle 'even' 'odd' %}">
       <td> {{ tx.timestamp }}</td> <td> {{ tx.trans_type }} </td> <td> {{ tx.debit_or_credit }} </td> 
       <td> {{ tx.amount }} </td><td> {{ tx.description|ljust:20 }} </td>
     </tr>
     {% endfor %}
   </tbody>
  </table>
  </div>
  </div>

{% endblock %}
