BeautifulSoup==3.1.0.1
Django==1.1.1
PIL==1.1.7
South==0.6.2
Werkzeug==0.5.1
django-debug-toolbar==0.8.1
django-extensions==0.4.1
django-notification==0.1.5
django-paypal==0.1.2
django-piston==0.2.2
-e hg+http://bitbucket.org/ubernostrum/django-registration/@073835a4269f13fc97cbe377677cf5fd4f52e930#egg=django_registration-tip
django-uni-form==0.7.0
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20091027
huBarcode==0.56p4
ipython==0.10
psycopg2==2.0.13
pyPdf==1.12
pymongo==1.3
wsgiref==0.1.2
Using already activated environment /Users/bjones/.virtualenvs/designfirst
