{% extends "base.html" %}

{% block extra-head %}
<meta http-equiv="Refresh" content="10;URL=http://www.designserviceusa.com/">
{% endblock %}

{% block title %} Account Pending {% endblock %}

{% block content %}

<div class="grid_6 prefix_5 suffix_5">
	<h1>Account Pending</h1>
	<div class=box>
		<div>
            <p>Sorry, you can't go to this page because your account is still pending approval.</p>
			<p>If you feel this message is in error, please <a href="mailto:support@designserviceusa.com">contact support</a>.</p>
		</div>
	</div>
</div> 

{% endblock %}


