{% extends "base.html" %}

{% block title %} Inactive Account {% endblock %}

{% block extra-head %}
<meta http-equiv="Refresh" content="10;URL=http://www.designserviceusa.com/">
{% endblock %}

{% block content %}
	<div class="grid_6 prefix_5 suffix_5">
		<h1>Inactive Account</h1>
		<div class=box>
			<div>
                <p>Sorry, your login is associated with a closed or inactive account.</p>
				<p>You may create a new account at the <a href="http://www.designserviceusa.com">Design Service USA Home Page</a>.</p>
			</div>
		</div>
	</div> 

{% endblock %}


