{% load util %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} Design First {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% media /css/reset.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/text.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/960.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/layout.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/nav.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/dsusa.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/jquery-ui.css %}" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{% media /css/ie6.css %}" media="screen" /><![endif]-->
<!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="{% media /css/ie.css %}" media="screen" /><![endif]-->
	<script type="text/javascript" src="{% media /js/jquery-1.3.2.min.js %}"></script>
	<script type="text/javascript" src="{% media /js/jquery-ui.js %}"></script>
	<script type="text/javascript" src="{% media /js/jquery-fluid16.js %}"></script>
	{% block extrastyle %}
		{# saved for b.w. compability, later will be removed #} 
	{% endblock %}
	{% block extra-head %} 
	{% endblock %}
  </head>
  <body>
	<div id="header" class="container_16 clearfix">
		<!-- begin branding block -->
		<div id="logo" class="grid_2">
			<img src="{{MEDIA_URL}}images/dsusa-small-brn.png" height="50">
		</div>
		<!-- end branding block -->

		{% if user.is_authenticated %}
		<!-- begin authenticated header content -->
		<!-- begin status line -->
		<div class="grid_11">
			<p>&nbsp;</p>
			{% block menu %}
			<div>
				<ul class="nav">
					<li><a href="/dealer/">Dashboard</a></li>
					<li><a href="{% url new_order %}">New Order</a></li>
					<li><a href="#">Order Log</a></li>
					<li><a href="#">Account</a></li>
				</ul>
			</div>
			{% endblock %}
		</div>
    	<div class="grid_3">
	  		Welcome {{ user.first_name }} {{ user.last_name }} [{{ user.username }}]
	  		<em ><a href="{% url do-logout %}"> click here to logout</a></em>
        </div>
		<!-- end status line -->
		<!-- end authenticated header content -->
		{% else %}
		<div class="grid_14">
			&nbsp;
		</div>
		{% endif %}
	</div>		

    <div id="content" class="container_16 clearfix">
        <!-- begin main content block -->
        {% block content %} {% endblock %}
        <!-- end main content block -->
    </div>

    <div id="content2" class="container_12">
        <!-- begin main content block -->
        {% block content2 %} {% endblock %}
        <!-- end main content block -->

        <div class="clear"></div>        
    </div>

      
      <div id="footer" class="container_16">      
          <div id="site-info" class="grid_16">
              <div class="box">
        		{% block footer %}
        		<p>
        		    &copy; 2009 Design Service USA LLC, all rights reserved</p><p>
            		<span><a href="/terms">Terms and Conditions</a></span>
            		<span style="text-align:right;"><a href="/privacy">Privacy Policy</a></span>
        		</p>        		
        		{% endblock %}
              </div>
          </div>
          <div class="clear"></div>          
      </div>

	<!-- begin tail javascript -->
	<!-- end tail javascript -->
  </body>
</html>
