<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd" >
{% load util %}
{% load i18n %}
{% load menu_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} Design First {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% media /css/reset.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/text.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/960.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/layout.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/nav.css %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% media /css/dsusa.css %}" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{% media /css/ie6.css %}" media="screen" /><![endif]-->
<!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="{% media /css/ie.css %}" media="screen" /><![endif]-->
	<script type="text/javascript" src="{% media /js/jquery-1.3.2.min.js %}"></script>
	<script type="text/javascript" src="{% media /js/jquery-fluid16.js %}"></script>
	{% block extrastyle %}
		{# saved for b.w. compability, later will be removed #} 
	{% endblock %}
	{% block extra-head %} 
	{% endblock %}
  </head>
  <body>
  	{% block header-div %}
	<div id="header" class="container_16 clearfix">
	   {% block content-header %}
		<!-- begin branding block -->
		<div id="logo" class="grid_2">
			<img src="{{MEDIA_URL}}images/logo.png" alt="design service usa" height="50"/>
		</div>
		<!-- end branding block -->

		{% if user.is_authenticated %}
		<!-- begin authenticated header content -->
		<!-- begin status line -->
		<div class="grid_11">
			<p>&nbsp;</p>
			{% block menu %}
                {% with request.user|menu_type as menu_name %}
    				{% menu menu_name %}
                {% endwith %}
			{% endblock %}
		</div>
    	<div class="grid_3">
	  		Welcome {{ user.first_name }} {{ user.last_name }} [{{ user.username }}]
	  		<em ><a href="{% url auth_logout %}"> click here to logout</a></em>
        </div>
		<!-- end status line -->
		<!-- end authenticated header content -->
		{% else %}
		<div class="grid_14">
			&nbsp;
		</div>
		{% endif %}
		{% endblock %}
	</div>		
	{% endblock %}
	
	{% block content-div %}
    <div id="content" class="container_16 clearfix">
		<div id="messages">
	        {% if messages %}
	        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
	        {% endif %}
		</div>
			
        <!-- begin main content block -->
        {% block content %} {% endblock %}
        <!-- end main content block -->
    </div>
	{% endblock %}

    {% block footer-div %}  
      <div id="footer" class="container_16">      
          <div id="site-info" class="grid_16">
              <div class="box">
        		{% block footer %}
        		<p>
        		    &copy; 2009 Design Service USA LLC, all rights reserved</p><p>
            		<span><a href="/terms/">Terms and Conditions</a></span>
            		<span style="text-align:right;"><a href="/privacy/">Privacy Policy</a></span>
        		</p>        		
        		{% endblock %}
              </div>
          </div>
          <div class="clear"></div>          
      </div>
	 {% endblock %}

	<!-- begin tail javascript -->
	<!-- end tail javascript -->
  </body>
</html>
