{% extends "base.html" %}

{% block title %}{{order}} | Submit{% endblock %}

{% block extra-head %}
<style>
.details {
	height: 400px;
	overflow: auto;
}
</style>
<script>
$(function(){
	$('a.diagram').click(function(){
		$('img#diagram').attr('src', this.href);
		return false;
	})
})

function show_details(type, caption) {
	$('.details').hide();
	$('#'+type).show()
	$('legend#caption').html(caption);
}
</script>
{% endblock %}


{% block content %}

<div class="grid_5">
	<fieldset>
		<legend>Order information</legend>
		Project Name: <strong>{{order}}</strong><br>
		Order #: <strong>{{order.id}}</strong><br>
	</fieldset>
</div>
<div class="grid_5">
	<fieldset>
		<legend>Format options</legend>
	</fieldset>
</div>
<div class="grid_6">
	<fieldset>
		<legend>Order control</legend>
		<form method="POST">
			<input type="submit" value="Submit">
		</form>
	</fieldset>
</div>

<div class="clear"></div>

<div class="clear"></div>

<div class="grid_5">
	{% for section, values in data.items %}
		{% ifequal section "Options" %}
		{% else %}
		<fieldset>
			<legend>{{section}}</legend>
		{% for name, value in values %}
			{{name}}: {{value}}<br>
		{% endfor %}
		</fieldset>
		{% endifequal %}
	{% endfor %}
</div>


<div  class="gird_11">
<fieldset>
	<legend id="caption">Options</legend>
		<div id="options" class="details">
		<table>
			{% for name, value in data.Options %}
				<tr class="row{% cycle "1" "2"%}">
					<td>{{name}}</td><td>{{value}}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="applicances" class="details" style="display: none;">
		<table>
			<tr>
				<th>Type</th>
				<th>Description</th>
				<th>Width</th>
				<th>Height</th>
				<th>Depth</th>
				<th> </th>
			</tr>
			{% for item in order.appliance_set.all %}
			<tr class="row{% cycle "1" "2"%}">
				<td>{{item.type}}</td>
				<td>{{item.description|default:"N/A"}}</td>
				<td>{% if item.width %}{{item.width}}&#148;{% endif %}</td>
				<td>{% if item.height %}{{item.height}}&#148;{% endif %}</td>
				<td>{% if item.depth %}{{item.depth}}&#148;{% endif %}</td>
				<td><a href="./?delete={{item.id}}" class="dellink">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
		</div>
		
		<div id="diagrams" class="details" style="display: none;">
		{% for url in order.attachement_previews %}
			<a href="{{url}}" class="diagram">{{forloop.counter}}</a>
		{% endfor %}
		<br>
		<img src="{{order.attachement_previews.0}}" id="diagram">
		</div>
		
		<input type="button" value="Options" onclick="show_details('options', 'Options')">
		<input type="button" value="Applicances" onclick="show_details('applicances', 'Applicances')">
		<input type="button" value="Diagrams" onclick="show_details('diagrams', 'Diagrams')">
</fieldset>

</div>

<div class="clear"></div>


<a href="{% url order-wizard order.id %}">Back to order manager</a>

{% endblock %}
