{% extends "wizard/base.html" %}

{% block ajax-validation %}{% endblock %}

{% block extra-head %}
{{block.super}}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablednd_0_5.js"></script>
<script type="text/javascript">
$(function(){
	$('input#add_moulding').click(function(){
		$('#wizard_form').ajaxSubmit({
			target: '#mouldings_data',
			resetForm: true,
			beforeSubmit: function(data){
				function _val(name) {
					for (var i = 0; i < data.length; i++)
						if (data[i].name == name) return data[i].value
				}
				if (_val('type') == '' || _val('name') == '') {
					alert('Please input Type and Name');
					return false;
				}
				data.push({name:'add_moulding', value:'true'})
			}
		});
		return false;
	})
	$('#mouldings_data a.dellink').live('click', function(){
		$('#mouldings_data').load('./', {'delete':$(this).attr('rel')})
		return false;
	})		
})
</script>

{% endblock %}


{% block wizard-content %}

<div id="mouldings_data">
	{% include "wizard/moulding_items.html" %}
</div>

<table>{{form}}</table>
<input type="submit" id="add_moulding" name="add_moulding" value="Add">


{% endblock %}