{% extends "wizard/base.html" %}

{% block extra-head %}
{{block.super}}
<script>
$(function(){
	//Fixed for tab navigation for 1st radiobutton (in last radio-button-group)
	//TODO: this should be done automatically
	$('#id_degree90_corner_base_shelv_0').keydown(function(event){
		if (event.keyCode == KEY_TAB && !event.shiftKey) {
			wizard_go_to('_next_')
			return false;
		}
	})
	
	var GROUPS = [
       	['diagonal_corner_wall', 'diagonal_corner_wall_shelv'], 
       	['diagonal_corner_base', 'diagonal_corner_base_shelv'], 
       	['degree90_corner_wall'], 
       	['degree90_corner_base', 'degree90_corner_base_shelv']
	];

	function _group(name) {
		for (var k = 0; k < GROUPS.length; k++)
			for (var i = 0; i < GROUPS[k].length; i++)
				if (GROUPS[k][i] == name)
					return GROUPS[k]
		alert('Field not found - ' + name)				
	}

	function image_for(element) {
		group = _group(element.name)
		var img_path = '';
		for (var i = 0; i < group.length; i++) {
			var value = false;
			if (element.name == group[i])
				value = $(element).val()
			else
				value = $("input[name='"+group[i]+"']:checked").val()
			if (img_path.length > 0)
				img_path += '_'
			img_path += value
		}
		img_path = '{{MEDIA_URL}}wizard/corner_cabinet/' + group[0] + '/' + img_path + '.png'
		return img_path;
	}


	function _fieldset_id(element) {
		var id = false;
		$(element).parents().each(function(){
			if (this.tagName == 'FIELDSET') {
				id = $(this).attr('id').replace('fields_', '')
				return false
			}
		})
		return id;
	}

	function update_pic(input_el, temporary) {
		var fs_id = _fieldset_id(input_el)
		var img = image_for(input_el)
		var $image = $('img#fieldset_img_'+fs_id)
		$image.attr('src', img)
		if (!temporary)
			$image.data('original', img)
		
	}

	function reset_img(id) {
		$image = $('img#fieldset_img_'+id)
		$image.attr('src', $image.data('original'))
	}

	$('#wizard_content li label').hover(
			function(){
				update_pic($(this).find('input').get(0), true)
			}, 
			function(){
				var fs_id = _fieldset_id($(this).get(0))
				reset_img(fs_id)
			}
	)

	$('#wizard_content input:radio:checked').each(function(){
		update_pic(this)
	})

	$('#wizard_content input:radio').click(function(){
		update_pic(this)
	})
})
</script>
{% endblock %}

{% block wizard-content %}

{% include "fieldsets_form.html" %}

{% endblock %}
