{% extends "customer/dealer_base.html" %}

{% block title %}Submission Confirmation{% endblock %}

{% block content %}
<div class='prefix_5 suffix_5 grid_6' >
	<h1>Submission Confirmation</h1>
</div>

<div class="grid_7 prefix_5 suffix_4">
	<div class="block">
		<table>
			<thead>
		<caption><h5> Summary</h5></caption>
				
			</thead>
			<tbody>
				<tr><th>Order #</th><td>{{order.id}}</td></tr>
				<tr><th>Project</th><td>{{order.project_name}}</td></tr>
				<tr><th>Type</th><td>{{order.get_project_type_display}}</td></tr>
				<tr><th>Design Product</th><td>{{ order.color_views|yesno:"Presentation Pack, Pro Design, Not Specified (Pro Design)" }}</td></tr>
				<tr><th>Processing Options</th><td>{{ order.rush|yesno:"Rush Service, Standard Processing" }}</td></tr>
				<tr><th>Submitted On</th><td>{{order.submitted|date:"N j, Y, P"}} by {{order.owner.get_full_name}} [{{order.owner.username}}] </td></tr>
			</tbody>
		</table>
		<p>
			A confirmation email with these details has been sent to {{order.owner.email}}. 
		</p>
		<p><a href="{% url home %}">Return to Dashboard</a></p>
	</div>
</div>

{% endblock %}
