{% extends "customer/dealer_base.html" %}

{% block title %}Submission Confirmation{% endblock %}

{% block content %}
<div class='prefix_5 suffix_5 grid_6' >
	<h1>Submission Confirmation</h1>
</div>

<div class="grid_6 prefix_5 suffix_5">
	<div class="block">
		<h4>Thank you for your order</h4>
		<table>
			<caption>Submission Details</caption>
			<thead></thead>
			<tbody>
				<tr><th>Order ID</th><td>{{order.id}}</td></tr>
				<tr><th>Submitted On</th><td>{{order.submitted}}</td></tr>
				<tr><th>Project Name</th><td>{{order.project_name}}</td></tr>
				<tr><th>Project Type</th><td>{{order.get_project_type_display}}</td></tr>
				<tr><th>Processing Options</th><td>{{order.options}}</td></tr>
				<tr><th>Delivery Date</th><td>{{order.submitted}}  plus X days</td></tr>
			</tbody>
		</table>
		<p>
			A confirmation email with these details has been sent to {{order.owner.email}}. 
		</p>
		<p><a href="{% url home %}">Return to Dashboard</a></p>
	</div>
</div>

{% endblock %}
