{% extends "customer/dealer_base.html" %}

{% block title %}submit order{% endblock %}


{% block extrastyle %}
<style type="text/css" media="screen">
table.form { margin-left: 0px;}
table.form,
table.form tr,
table.form td,
table.form th
{
	border-style: none;	
}

form p label {
    display: block;
    float: left;
    width: 12em;
    font-weight: bolder;
}
form p.buttons {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
<div class='prefix_4 suffix_4 grid_8' >
	<h1>Submit Your Request</h1>
</div>

<div class="grid_8 suffix_1">
	<div class="block">
		<h2>Select Processing Options</h2>
	    <form method="POST">
	    	<fieldset>
	    		<table class="form">
			        {{ form }}					
				</table>
				<p class="buttons">
			        <input type="submit" value="Submit Request" >
				</p>
			</fieldset>        
	    </form>
	</div>
</div>
<div class="grid_6 suffix_1 omega">
	<div class="block">
		<h2>Order submission</h2>
		<p>
			Be sure to select the correct product - Pro Design or Presentation Pack - and processing options - e.g. RUSH Service - for your needs. Each of these options affects pricing so be sure you have enough
			credit in your account for your selections. 
		</p>
		<h3>Payment</h3>
		<p>
			If you have enough account credit, your order will be submitted as soon as you click 'Submit'. If your design costs more than you have in account credit, clicking submit wil place your order on hold and 
			redirect you to our online shoppign cart. Once you have purchased sufficient credit, you can select your order from the Dashboard and re-submit it for processing. 
		</p>
		<h3>Processing Time</h3>
		<p>
			Standard processing time is two business days. Expedited processing is available for a nominal fee. If you would like expedited service, select the 'RUSH' processing option.
		</p>
		<h3>Clarification Process</h3>
		<p>
			Our clarification process lets the designer contact you with questions to resolve ambiguities and request additional information about your request. 
		</p>
	</div>		 
</div>

{% endblock %}
